/* src/pages/TechList.css */
.tech-list {
    padding: 20px;
}

.tech-item {
    margin-bottom: 20px;
}

.tech-item h3 {
    margin-bottom: 10px;
}

.tech-item p {
    margin-bottom: 10px;
}

.tech-item ul {
    list-style-type: none;
    padding: 0;
}

/* .tech-item ul ul {
    margin-left: 20px;
} */

.tech-item li {
    margin-bottom: 10px;
}

.tech-icon {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    vertical-align: middle;
    margin-right: 10px;
}

.resource-link {
    color: #007bff;
    text-decoration: none;
}

.resource-link:hover {
    text-decoration: underline;
}
